In [1]:
import pandas as pd

In [5]:
datafile =  pd.read_excel("finaldata.xlsx", sheet_name="finaldata", na_values="None")

In [6]:
datafile.head()

,From Date,To Date,PM2.5,PM10,NO,NO2,NOx,NH3,SO2,CO,Ozone,Benzene
0,01-01-2019 00:00,01-01-2019 00:15,509.0,838.0,192.9,58.9,188.7,62.5,18.2,5.9,1.8,14.8
1,01-01-2019 00:15,01-01-2019 00:30,509.0,838.0,223.8,57.0,213.1,61.1,16.2,6.0,2.3,14.1
2,01-01-2019 00:30,01-01-2019 00:45,509.0,838.0,192.4,64.7,191.2,67.0,16.1,5.2,2.3,13.8
3,01-01-2019 00:45,01-01-2019 01:00,417.0,659.0,220.0,63.1,213.1,66.5,15.5,5.4,2.3,13.6
4,01-01-2019 01:00,01-01-2019 01:15,417.0,659.0,211.0,56.2,202.1,65.8,15.3,5.0,NaN,12.6

In [7]:
datafile.dtypes

From Date     object
To Date       object
PM2.5        float64
PM10         float64
NO           float64
NO2          float64
NOx          float64
NH3          float64
SO2          float64
CO           float64
Ozone        float64
Benzene      float64
dtype: object

In [9]:
datafile['From Date'] = pd.to_datetime(datafile['From Date'], format='%d-%m-%Y %H:%M')

In [12]:
datafile['To Date'] = pd.to_datetime(datafile['To Date'], format='%d-%m-%Y %H:%M')

In [13]:
datafile.dtypes

From Date    datetime64[ns]
To Date      datetime64[ns]
PM2.5               float64
PM10                float64
NO                  float64
NO2                 float64
NOx                 float64
NH3                 float64
SO2                 float64
CO                  float64
Ozone               float64
Benzene             float64
dtype: object

In [14]:
datafile = datafile.set_index('From Date')

In [15]:
datafile.head()

,To Date,PM2.5,PM10,NO,NO2,NOx,NH3,SO2,CO,Ozone,Benzene
From Date,,,,,,,,,,,
2019-01-01 00:00:00,2019-01-01 00:15:00,509.0,838.0,192.9,58.9,188.7,62.5,18.2,5.9,1.8,14.8
2019-01-01 00:15:00,2019-01-01 00:30:00,509.0,838.0,223.8,57.0,213.1,61.1,16.2,6.0,2.3,14.1
2019-01-01 00:30:00,2019-01-01 00:45:00,509.0,838.0,192.4,64.7,191.2,67.0,16.1,5.2,2.3,13.8
2019-01-01 00:45:00,2019-01-01 01:00:00,417.0,659.0,220.0,63.1,213.1,66.5,15.5,5.4,2.3,13.6
2019-01-01 01:00:00,2019-01-01 01:15:00,417.0,659.0,211.0,56.2,202.1,65.8,15.3,5.0,NaN,12.6

In [16]:
datafile.interpolate(method='linear').head(15)

,To Date,PM2.5,PM10,NO,NO2,NOx,NH3,SO2,CO,Ozone,Benzene
From Date,,,,,,,,,,,
2019-01-01 00:00:00,2019-01-01 00:15:00,509.0,838.0,192.9,58.9,188.70,62.50,18.200,5.9,1.800,14.8
2019-01-01 00:15:00,2019-01-01 00:30:00,509.0,838.0,223.8,57.0,213.10,61.10,16.200,6.0,2.300,14.1
2019-01-01 00:30:00,2019-01-01 00:45:00,509.0,838.0,192.4,64.7,191.20,67.00,16.100,5.2,2.300,13.8
2019-01-01 00:45:00,2019-01-01 01:00:00,417.0,659.0,220.0,63.1,213.10,66.50,15.500,5.4,2.300,13.6
2019-01-01 01:00:00,2019-01-01 01:15:00,417.0,659.0,211.0,56.2,202.10,65.80,15.300,5.0,2.325,12.6
2019-01-01 01:15:00,2019-01-01 01:30:00,417.0,659.0,196.4,62.5,193.40,66.50,14.800,4.5,2.350,12.7
2019-01-01 01:30:00,2019-01-01 01:45:00,417.0,659.0,136.4,71.3,148.50,71.80,14.800,3.0,2.375,11.7
2019-01-01 01:45:00,2019-01-01 02:00:00,356.0,592.0,102.3,67.8,119.20,64.80,13.700,2.7,2.400,10.3
2019-01-01 02:00:00,2019-01-01 02:15:00,356.0,592.0,92.3,67.1,110.75,61.05,12.375,2.5,1.900,8.0
2019-01-01 02:15:00,2019-01-01 02:30:00,356.0,592.0,82.3,66.4,102.30,57.30,11.050,2.3,2.000,7.1
2019-01-01 02:30:00,2019-01-01 02:45:00,356.0,592.0,72.3,65.7,93.85,53.55,9.725,2.1,2.200,6.7
2019-01-01 02:45:00,2019-01-01 03:00:00,267.0,404.0,62.3,65.0,85.40,49.80,8.400,1.9,2.300,6.4
2019-01-01 03:00:00,2019-01-01 03:15:00,267.0,404.0,77.7,62.9,96.70,52.90,11.700,1.9,1.800,6.0
2019-01-01 03:15:00,2019-01-01 03:30:00,267.0,404.0,53.1,62.2,76.40,56.10,12.100,1.8,1.800,5.7
2019-01-01 03:30:00,2019-01-01 03:45:00,267.0,404.0,52.5,55.4,72.30,56.90,12.400,1.7,1.600,5.6

In [17]:
datafile.interpolate(method='linear').head(15)

,To Date,PM2.5,PM10,NO,NO2,NOx,NH3,SO2,CO,Ozone,Benzene
From Date,,,,,,,,,,,
2019-01-01 00:00:00,2019-01-01 00:15:00,509.0,838.0,192.9,58.9,188.70,62.50,18.200,5.9,1.800,14.8
2019-01-01 00:15:00,2019-01-01 00:30:00,509.0,838.0,223.8,57.0,213.10,61.10,16.200,6.0,2.300,14.1
2019-01-01 00:30:00,2019-01-01 00:45:00,509.0,838.0,192.4,64.7,191.20,67.00,16.100,5.2,2.300,13.8
2019-01-01 00:45:00,2019-01-01 01:00:00,417.0,659.0,220.0,63.1,213.10,66.50,15.500,5.4,2.300,13.6
2019-01-01 01:00:00,2019-01-01 01:15:00,417.0,659.0,211.0,56.2,202.10,65.80,15.300,5.0,2.325,12.6
2019-01-01 01:15:00,2019-01-01 01:30:00,417.0,659.0,196.4,62.5,193.40,66.50,14.800,4.5,2.350,12.7
2019-01-01 01:30:00,2019-01-01 01:45:00,417.0,659.0,136.4,71.3,148.50,71.80,14.800,3.0,2.375,11.7
2019-01-01 01:45:00,2019-01-01 02:00:00,356.0,592.0,102.3,67.8,119.20,64.80,13.700,2.7,2.400,10.3
2019-01-01 02:00:00,2019-01-01 02:15:00,356.0,592.0,92.3,67.1,110.75,61.05,12.375,2.5,1.900,8.0
2019-01-01 02:15:00,2019-01-01 02:30:00,356.0,592.0,82.3,66.4,102.30,57.30,11.050,2.3,2.000,7.1
2019-01-01 02:30:00,2019-01-01 02:45:00,356.0,592.0,72.3,65.7,93.85,53.55,9.725,2.1,2.200,6.7
2019-01-01 02:45:00,2019-01-01 03:00:00,267.0,404.0,62.3,65.0,85.40,49.80,8.400,1.9,2.300,6.4
2019-01-01 03:00:00,2019-01-01 03:15:00,267.0,404.0,77.7,62.9,96.70,52.90,11.700,1.9,1.800,6.0
2019-01-01 03:15:00,2019-01-01 03:30:00,267.0,404.0,53.1,62.2,76.40,56.10,12.100,1.8,1.800,5.7
2019-01-01 03:30:00,2019-01-01 03:45:00,267.0,404.0,52.5,55.4,72.30,56.90,12.400,1.7,1.600,5.6

In [18]:
datafile.isna().sum()

To Date        0
PM2.5       2016
PM10        3362
NO          4126
NO2         3580
NOx         3731
NH3         5870
SO2        10578
CO          6870
Ozone       5305
Benzene     1899
dtype: int64

In [19]:
datafile.interpolate(method='linear').isna().sum()

To Date    0
PM2.5      0
PM10       0
NO         0
NO2        0
NOx        0
NH3        0
SO2        0
CO         0
Ozone      0
Benzene    0
dtype: int64

In [20]:
datafile = datafile.interpolate(method='linear')

In [21]:
datafile.head(15)

,To Date,PM2.5,PM10,NO,NO2,NOx,NH3,SO2,CO,Ozone,Benzene
From Date,,,,,,,,,,,
2019-01-01 00:00:00,2019-01-01 00:15:00,509.0,838.0,192.9,58.9,188.70,62.50,18.200,5.9,1.800,14.8
2019-01-01 00:15:00,2019-01-01 00:30:00,509.0,838.0,223.8,57.0,213.10,61.10,16.200,6.0,2.300,14.1
2019-01-01 00:30:00,2019-01-01 00:45:00,509.0,838.0,192.4,64.7,191.20,67.00,16.100,5.2,2.300,13.8
2019-01-01 00:45:00,2019-01-01 01:00:00,417.0,659.0,220.0,63.1,213.10,66.50,15.500,5.4,2.300,13.6
2019-01-01 01:00:00,2019-01-01 01:15:00,417.0,659.0,211.0,56.2,202.10,65.80,15.300,5.0,2.325,12.6
2019-01-01 01:15:00,2019-01-01 01:30:00,417.0,659.0,196.4,62.5,193.40,66.50,14.800,4.5,2.350,12.7
2019-01-01 01:30:00,2019-01-01 01:45:00,417.0,659.0,136.4,71.3,148.50,71.80,14.800,3.0,2.375,11.7
2019-01-01 01:45:00,2019-01-01 02:00:00,356.0,592.0,102.3,67.8,119.20,64.80,13.700,2.7,2.400,10.3
2019-01-01 02:00:00,2019-01-01 02:15:00,356.0,592.0,92.3,67.1,110.75,61.05,12.375,2.5,1.900,8.0
2019-01-01 02:15:00,2019-01-01 02:30:00,356.0,592.0,82.3,66.4,102.30,57.30,11.050,2.3,2.000,7.1
2019-01-01 02:30:00,2019-01-01 02:45:00,356.0,592.0,72.3,65.7,93.85,53.55,9.725,2.1,2.200,6.7
2019-01-01 02:45:00,2019-01-01 03:00:00,267.0,404.0,62.3,65.0,85.40,49.80,8.400,1.9,2.300,6.4
2019-01-01 03:00:00,2019-01-01 03:15:00,267.0,404.0,77.7,62.9,96.70,52.90,11.700,1.9,1.800,6.0
2019-01-01 03:15:00,2019-01-01 03:30:00,267.0,404.0,53.1,62.2,76.40,56.10,12.100,1.8,1.800,5.7
2019-01-01 03:30:00,2019-01-01 03:45:00,267.0,404.0,52.5,55.4,72.30,56.90,12.400,1.7,1.600,5.6

In [24]:
datafile = datafile.drop('To Date', axis=1)

In [25]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

df_norm = pd.DataFrame(scaler.fit_transform(datafile), columns=datafile.columns)

df_norm

,PM2.5,PM10,NO,NO2,NOx,NH3,SO2,CO,Ozone,Benzene
0,0.548004,0.837675,0.386063,0.183578,0.377457,0.311067,0.099945,0.59,0.008504,0.391534
1,0.548004,0.837675,0.447938,0.177646,0.426394,0.304088,0.088901,0.60,0.011006,0.373016
2,0.548004,0.837675,0.385062,0.201686,0.382471,0.333500,0.088349,0.52,0.011006,0.365079
3,0.448759,0.658317,0.440328,0.196691,0.426394,0.331007,0.085036,0.54,0.011006,0.359788
4,0.448759,0.658317,0.422307,0.175148,0.404332,0.327517,0.083932,0.50,0.011131,0.333333
...,...,...,...,...,...,...,...,...,...,...
70171,0.370011,0.430862,0.466760,0.193569,0.446450,0.268195,0.083379,0.30,0.025513,0.283069
70172,0.370011,0.430862,0.321586,0.192007,0.327718,0.277168,0.078410,0.29,0.025013,0.277778
70173,0.370011,0.430862,0.327393,0.203559,0.336141,0.285643,0.071784,0.31,0.027014,0.288360
70174,0.370011,0.430862,0.303965,0.165470,0.304051,0.307577,0.073440,0.28,0.027014,0.293651
70175,0.409924,0.481964,0.410493,0.167968,0.391897,0.307079,0.073440,0.31,0.024012,0.293651

In [33]:
df = datafile.copy()
for column in df.columns:
    df[column] = df_norm[column].values
df

,PM2.5,PM10,NO,NO2,NOx,NH3,SO2,CO,Ozone,Benzene
From Date,,,,,,,,,,
2019-01-01 00:00:00,0.548004,0.837675,0.386063,0.183578,0.377457,0.311067,0.099945,0.59,0.008504,0.391534
2019-01-01 00:15:00,0.548004,0.837675,0.447938,0.177646,0.426394,0.304088,0.088901,0.60,0.011006,0.373016
2019-01-01 00:30:00,0.548004,0.837675,0.385062,0.201686,0.382471,0.333500,0.088349,0.52,0.011006,0.365079
2019-01-01 00:45:00,0.448759,0.658317,0.440328,0.196691,0.426394,0.331007,0.085036,0.54,0.011006,0.359788
2019-01-01 01:00:00,0.448759,0.658317,0.422307,0.175148,0.404332,0.327517,0.083932,0.50,0.011131,0.333333
...,...,...,...,...,...,...,...,...,...,...
2020-12-31 22:45:00,0.370011,0.430862,0.466760,0.193569,0.446450,0.268195,0.083379,0.30,0.025513,0.283069
2020-12-31 23:00:00,0.370011,0.430862,0.321586,0.192007,0.327718,0.277168,0.078410,0.29,0.025013,0.277778
2020-12-31 23:15:00,0.370011,0.430862,0.327393,0.203559,0.336141,0.285643,0.071784,0.31,0.027014,0.288360
2020-12-31 23:30:00,0.370011,0.430862,0.303965,0.165470,0.304051,0.307577,0.073440,0.28,0.027014,0.293651
2020-12-31 23:45:00,0.409924,0.481964,0.410493,0.167968,0.391897,0.307079,0.073440,0.31,0.024012,0.293651

In [34]:
df.to_excel("data.xlsx", sheet_name="data")

In [3]:

import torch

torch.cuda.get_device_name(0)

'NVIDIA GeForce RTX 2060'

In [4]:
torch.cuda.current_device()

0

In [5]:
torch.cuda.device_count()

1